body {
  display: flex;
  flex-direction: column;
  background-color: #8C837B;
  padding: 40px;
  text-align: center;
}

.input {
  width: 300px;
}

button {
  background-color: #595752;
  border: 1px solid #F2F2F2;
  color: #F2F2F2;
}
